* text=auto eol=lf
*.cs text diff=csharp
*.shader text
*.cginc text
*.compute text
*.hlsl text
*.glsl text
*.json text
*.asmdef text
*.meta text merge=unityyamlmerge eol=lf
*.unity text merge=unityyamlmerge eol=lf
*.prefab text merge=unityyamlmerge eol=lf
*.mat text merge=unityyamlmerge eol=lf
*.anim text merge=unityyamlmerge eol=lf
*.controller text merge=unityyamlmerge eol=lf
*.overrideController text merge=unityyamlmerge eol=lf